/*
	CSS Selector:
- tagname (element name)
- id (#)
- class (.)
;
*/

/*:root will overwrite any css styling in case of conflict*/
:root {
  --background-image-url-02: url("./img/image-2.jpg");
  --background-image-url-04: url("./img/image-4.jpg");
  --background-image-url-08: url("./img/image-8.png");
  --background-image-url-16: url("./img/image-16.jpg");
  --background-image-url-32: url("./img/image-32.jpg");
  --background-image-url-64: url("./img/image-64.jpg");
  --background-image-url-128: url("./img/image-128.jpg");
  --background-image-url-256: url("./img/image-256.jpg");
  --background-image-url-512: url("./img/image-512.jpg");
  --background-image-url-1024: url("./img/image-1024.jpg");
  --background-image-url-2048: url("./img/image-2048.jpg");
  --background-image-url-4096: url("./img/image-4096.png");
  --background-image-url-8192: url("./img/image-8192.png");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0047ab;
}

hr {
  max-width: 480px;
  border: 1px solid #b7dff2;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}

.score-container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50px;
  font-weight: 600;
}

#score {
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.score-label {
  margin-bottom: 2px;
}

#board {
  width: 400px;
  height: 400px;
  background-color: #effaff;
  border: 6px solid #b7dff2;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 5px solid #b7dff2;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*tile number*/
.x2 {
  background-color: #eee4da;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-02);
  background-size: 100% 100%;
}

.x4 {
  background-color: #ece0ca;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-04);
  background-size: 100% 100%;
}

.x8 {
  background-color: #f4b17a;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-08);
  background-size: 100% 100%;
}

.x16 {
  background-color: #f59575;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-16);
  background-size: 100% 100%;
}

.x32 {
  background-color: #f57c5f;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-32);
  background-size: 100% 100%;
}

.x64 {
  background-color: #f65d3b;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-64);
  background-size: 100% 100%;
}

.x128 {
  background-color: #edce71;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-128);
  background-size: 100% 100%;
}

.x256 {
  background-color: #edcc63;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-256);
  background-size: 100% 100%;
}

.x512 {
  background-color: #edc651;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-512);
  background-size: 100% 100%;
}

.x1024 {
  background-color: #eec744;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-1024);
  background-size: 100% 100%;
}

.x2048 {
  background-color: #eec230;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-2048);
  background-size: 100% 100%;
}

.x4096 {
  background-color: #fe3d3d;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-4096);
  background-size: 100% 100%;
}

.x8192 {
  background-color: #ff2020;
  color: rgba(0, 0, 0, 0);
  background-image: var(--background-image-url-8192);
  background-size: 100% 100%;
}

/*footer*/
footer {
  background-color: #0047ab;
  margin: 0 auto;
  width: 90vw;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

.fa-brands,
.fa-solid {
  color: white;
  margin: 0 10px;
  font-size: 25px;
}

.fa-brands:hover,
.fa-solid:hover {
  color: gray;
}

/* Slide Animation */
@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-from-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*media query*/
/*to override specific styles once screen size is reach*/
@media (max-width: 415px) {
  #board {
    margin-top: 8px;
    width: 90vw;
    max-width: 400px;
    height: 90vh;
    max-height: 400px;
  }

  .tile {
    box-sizing: border-box;
    width: 25%;
    height: 25%;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
  }
}
